# Base Package. can be any version of php official images (Except alpine variant)
FROM php:7-fpm
# Sync apt
RUN apt-get update

# Extension
# Curl
RUN apt-get install -y libcurl3-dev && docker-php-ext-install curl
# GD
RUN apt-get install -y libpng12-dev libjpeg62-turbo-dev libfreetype6-dev && docker-php-ext-configure gd --with-gd --with-freetype-dir=/usr/include/ --with-png-dir=/usr/include/ --with-jpeg-dir=/usr/include/ && docker-php-ext-install gd
# Postgresql
RUN apt-get install -y libpq-dev && docker-php-ext-install pgsql
# Mcrypt
RUN apt-get install -y libmcrypt-dev && docker-php-ext-install mcrypt
# Mysqli
RUN docker-php-ext-install mysqli
# ImageMagic
RUN apt-get install -y libmagickwand-dev --no-install-recommends && pecl install imagick && docker-php-ext-enable imagick
# JSON
RUN docker-php-ext-install json
## GETTEXT
RUN docker-php-ext-install gettext
# ZIP
RUN apt-get install -y zlib1g-dev && docker-php-ext-configure zip --with-zlib-dir=/usr && docker-php-ext-install zip
# Remove apt lists to reduce image size
RUN rm -rf /var/lib/apt/lists/*
# Optional: error log file for php.
RUN mkdir -p /var/log/fpm/ && touch /var/log/nginx/php_error.log && chmod 777 /var/log/nginx/php_error.log

# Warning:
# Don't use this file directly. You should only have one "RUN" directive in your file. Each directive (RUN,CMD,ADD,COPY) creates
# a layer in image.
